body {
    font-family: 'Libre Baskerville', serif;  
}
h1,h2,h3,h4,h5{
    font-weight: 700;
    color: #66fcf1;
}
h3{
    font-size: 1.5rem;
}

input{
    background-color: #1f2833 !important;
    color: #66fcf1 !important;
}
img{
    filter: grayscale(50%) brightness(0.8);
}
img.rounded-circle{
    filter: none;
    border: 2px solid #66fcf1;
}
/* Header */
.navbar {
    background-color: #0b0c10;
    color: #66fcf1 !important;
}
.navbar-brand,
.footer-logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #66fcf1;
}
.btn-main{
    background-color: #66fcf1 !important;
    color: #0b0c10 !important;
}

/* hero */

.hero {
    background-color: #1f2833 ;
}
.hero-post{
    position: relative;
}
.blog-post img{
    width: 100%;
    height: 100%;
}
.hero-post-badges{
    position: absolute;
    top: 10px;
    right: 10px;

}
.hero-post-badges>a{
    background-color: #0b0c10;
    color: #66fcf1;
    display: block;
    font-size: 0.8rem;
}
.hero-post-content{
    position: absolute;
    bottom: 10px;
    color: #66fcf1;
}

/* main blog*/
.blog-posts{
    background-color: #0b0c10;
    color: #c5c6c7;
}
.blog-post{
    background-color: #1f2833;
}
.blog-post p{
    font-size: 0.9rem;
}
.blog-post .col-sm-8{
    border-left: 3px solid #66fcf1;
}
.badge{
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.badge>a{
    margin-left: 0.5rem;
    padding: 0.5rem;
    background-color: #66fcf1;
    color: #0b0c10;
}
/* aside */
.social-links{
    background-color: #66fcf1;
    color: #0b0c10;
    font-size: 1.5rem;
}
.secondary-color{
    background-color: #1f2833;
    color: #66fcf1;
}
.aside-heading{
    border-left: 3px solid #66fcf1;
}
.author p{
    font-size: 0.9rem;
}

.author-social-link a {
    margin-left: 1.0rem;
}
.badges{
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.badges>a{
    margin-left: 0.5rem;
    display: inline-block;
    margin: 0.2rem;
    padding: 0.5rem;
    background-color: #66fcf1;
    color: #0b0c10;
}
/*footer*/
.footer{
    background-color: #1f2833;
    color: #c5c6c7;
}

.footer input{
    background-color: #0b0c10 !important;
}